# -*- mode: gitignore; -*-
.dirs
.CFUserTextEncoding
.DS_Store
.ICEauthority
.Trash/
.Xauthority
.adobe/
.af_token
.appcfg_nag
.bash_history
.cache/
.compiz/
.cpan/
.cpanm/
.cups/
.dbshell
.designer/
.dmrc
.dropbox/
.dvc/
.dvdcss/
.eaglerc
.emacs.d/private/
#.emacs.d/emojis/
#/.emacs.d/image-dired/
#/.emacs.d/transient/
/.user_elisp/github/
.filezilla/
.fontconfig/
.fonts/*
.gconf/
.gdb_history
.gem/
.gksu.lock
.gnuplot_history
.groovy/
.heroku/
.hidden/
.histfile
.htoprc
.iddfemwrc
.idlerc/
.ipython/
.lesshst
.lldb-swift-history
.m2/
.macports/
.macromedia/
.mail/
.matplotlib/
.mozilla/
.mplayer/
.netrc
.node-gyp/
.npm/
.pip/
.psql_history
.pyhistory.py
.remmina/
.rnd
.ruby-version
.sage/
.smb/
.ssh/
.swp
.thumbnails/
.vagrant.d/
/.vim
.viminfo
.vinevncauth
.vnc/
.wireshark-etc/
.wireshark/
.xbmc/
.xchm
.xsession-errors
.xsession-errors.old
/.AMD/
/.android/
/.aws
/.babel.json
/.bash_sessions
/.bundle/
/.cabal
/.cocoapods
/.coffee_history
/.cordova
/.cura/
/.dbus/
/.docker
/.dropbox-dist
/.electron/
/.elmo
/.ghc/
/.gnome
/.gnupg
/.gsutil
/.heroku
/.httpie/
/.ionic
/.jenkins
/.keychain/
/.kube
/.links2/
/.lldb
/.makerware-license-accepted
/.motion/
/.mysql_history
/.node_repl_history
/.oracle_jre_usage
/.pgadmin3
/.pgadmin_histoqueries
/.pgpass
/.pki
/.plugman
/.pronsolerc
/.pronsolerc~bak
/.python-eggs
/.qgis2
/.rstudio-desktop
/.stormpath
/.sudo_as_admin_successful
/.swiftenv/
/.tor
/.wemo/
/.wget-hsts
/.xprofile
Applications/
Calibre Library/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
Things/
VirtualBox VMs/
examples.desktop
projects/
/.FreeCAD/
/.lein
/.ansible
.serverauth.*
.nvm
/.gstreamer-0.10/
/.winswitch/
/.particle/
/.particledev/
/.v8flags.*
/.helm/
.pyenv/
.deis/
/.ansible_vault_password.txt
/perl5
.arduino15/
.java/
/.user_go/pkg/darwin_amd64
/.user_go/src/github.com
/.user_go/src/golang.org
/.user_go/src/gopkg.in
/.user_go/bin/hello
/.user_go/bin/gostock
/.user_go/src/gostock
/.user_go/bin/govendor
.mono/
.octave_hist
.templateengine/
.xpra/
.selected_editor
.pulse-cookie
.steam/
.steampath
.steampid
._PrintopiaImport
.mbed/
.arduino-create/
.synergy/
.grip/
/.virtualenvs
.tern-port
/mu_code/
/.yarnrc
/.authinfo
snap/
/.vue-templates
.xca
.dynv6.addr6
/.kr
/.boto
/.jspm
/.ncmpcpp
/.perlbrew/
/Arduino/
/.pyxbld
/Particle
.apio
.atom
/.cddb/
/.cdcatconf
/.op/
/.xscreensaver
/.jssc/
/.swt/
/.wakatime.db
/.wakatime.log
.subversion/
shared-drives/
.xorgxrdp.10.log
.xorgxrdp.10.log.old
/.jupyter/
.cinnamon/
.gtkrc-2.0
.gtkrc-xfce
.linuxmint/
.audacity-data/
.themes/
.teensy
.python_history
.flasher/
.aptitude/
.tramp_history
/.Private
/.ecryptfs
/.dotnet/
/.nuget/
/bin/macos/Microsoft.Python.LanguageServer
/.gnuradio/
/.clusterssh/
/.Qsync/
/MPLABXProjects/
/.mplab_ide/
/.mplabcomm/
/.platformio/
/.vscode/
