[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/idcrook/.emacs.d.git
	branch = main
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/idcrook/prezto.git
[submodule "zsh/.zprezto-contrib/kubernetes"]
	path = zsh/.zprezto-contrib/kubernetes
	url = https://github.com/idcrook/prezto-kubernetes.git
[submodule "zsh/.zprezto-contrib/mojo"]
	path = zsh/.zprezto-contrib/mojo
	url = https://github.com/idcrook/prezto-mojo.git
