[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/idcrook/.emacs.d.git
	branch = main
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/idcrook/prezto.git
[submodule "zsh/.zprezto-contrib/kubernetes"]
	path = zsh/.zprezto-contrib/kubernetes
	url = https://github.com/idcrook/prezto-kubernetes.git
[submodule "zsh/.zprezto-contrib/mojo"]
	path = zsh/.zprezto-contrib/mojo
	url = https://github.com/idcrook/prezto-mojo.git
[submodule "zsh/.zprezto-contrib/emacs-action"]
	path = zsh/.zprezto-contrib/emacs-action
	url = https://github.com/idcrook/prezto-emacs-action
[submodule "zsh/.zprezto-contrib/swiftly"]
	path = zsh/.zprezto-contrib/swiftly
	url = https://github.com/idcrook/prezto-swiftly.git
[submodule "zsh/.zprezto-contrib/brew-command-not-found"]
	path = zsh/.zprezto-contrib/brew-command-not-found
	url = git@github.com:idcrook/prezto-brew-command-not-found.git
