**/secrets/**/*.zsh
**/secrets/**/*.zshenv
*.secrets*
.DS_Store
# /bin/
.markdown-preview.html
!README.md
README.html
!TODO.md
!*example
/Backup/

# packages that should not be pushed on github (local backup only)
projects/
