[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/idcrook/.emacs.d.git
	branch = main
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/idcrook/prezto.git
