---
name: personal
parent: default


matches:
  # Emails
  - trigger: "jjem"
    replace: "user@example.com"

  # Addresses
  - trigger: "jjhome"
    replace: |-
      123 Any Dr.
      City, ST, 54321
