---
name: personal
parent: default


matches:
  # Emails
  - trigger: "jjem"
    replace: "user@example.com"

  # Telephone
  - trigger: "jjtele"
    replace: "(000) 555-1212"

  # Addresses
  - trigger: "jjhome"
    replace: |-
      123 Any Dr.
      City, ST, 54321
