[settings]
debug = false
api_key = 3214970-890-23908-23198079-2345698
hide_file_names = false
hide_project_names = false
# exclude =
#     ^COMMIT_EDITMSG$
#     ^TAG_EDITMSG$
#     ^/var/(?!www/).*
#     ^/etc/
# include =
#     .*
# include_only_with_project_file = false
# offline = true
# proxy = https://user:pass@localhost:8080
# no_ssl_verify = false
# timeout = 30
# hostname = machinename
# [projectmap]
# projects/foo = new project name
# ^/home/user/projects/bar(\d+)/ = project{0}
# [git]
# disable_submodules = false
